#showing_content
{
    font-size:10vw;
}

#seconds
{
    font-size:20vw;
}

#clock
{
    padding: auto;
    overflow: hidden; 
    margin-top: 0;
}
body{
    background-image: url("day.png");
    background-size: 100vw;
    background-repeat:no-repeat;
    height: 100%;
    
}
.nav-pills>.nav-item>.active
{
    background-color: #bd3029
}
.nav-pills>.nav-item>.nav-link
{
  color:black;
}
/* stop watch  */

body {
  background-color: #bd3029;
}
#counter {
  font-size: 8vw;
  text-align: center;
  height: 150px;
  font-family: 'Oswald';
  font-weight: 300;
  color: #bd3029;
  margin: 10px ;
  background-color: white;
}


#startbtn
{
  background-color: #bd3029;
  width: 20%;
  border-width: 0ch;
  float: left;
  margin-left: 35vw;
}
#resetbtn, #lapbtn
{
  background-color: #efeeee;
  width: 20%;
  color: black;
  border-width: 0ch;
  margin-top: 1vw;
  margin-left: 35vw;
}


